/* Example css file */

/* body {
	background-color: white!important;
} */

h3, th {
	color: var(--color-accent-light);
	font-weight: 600;
	margin: 1rem 0;
}

ul {
	margin-left: 0;
}

table {
	margin: 2rem 0;
	text-align: left;
}

td > p:first-child {
	margin-top: 0;
}

td, th {
	padding: 1rem;
	vertical-align: top;
}

th {
	border-bottom: 2px solid var(--color-accent);
}

tr {
	border-bottom: 1px solid var(--color-accent);
}

div.well {
	padding: 2rem 3rem;
	border: 1px solid var(--color-accent);
	border-radius: 8px;
	margin: 2rem 0;
}

div.well > *:first-child {
	margin-top: 0;
}